################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Assignment1/.vs/Assignment1
/Assignment1/obj
/Assignment1/bin/Debug/netcoreapp3.1
