################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Assignment1/.vs/Assignment1
/Assignment1/obj
/Assignment1/bin/Debug/netcoreapp3.1
/Assignment1/.vs/ProjectEvaluation
/Day2/BonVoyage/obj
/Day2/EnterpriseApp/.vs
/Day2/EnterpriseApp/bin/Debug/net6.0
/Day2/EnterpriseApp/obj
/Day2/BonVoyage/bin/Debug/net6.0
